.table {
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.table-row {
  margin: 20px 0;
  width: 100%;
  font-weight: 300;
  color: #666;
  display: flex;

  .table-image {
    margin-right: 15px;
  }
}

.table-item {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .table-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .item-total {
    font-weight: 600;
    color: #333;
  }

  .table-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .table-right {
    display: flex;
    flex-direction: column;
  }

  .table-item-details {
    display: flex;
    flex-direction: row;
  }
}

.text-light {
  font-weight: 300;
  color: #666;
}

.cart-summary {
  @extend .table;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
}

.delete-btn {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    font-size: 13px;
  }
}
