.hero-section {
  background-image: url(../images/hero.jpeg);
  background-position: center center;
  background-size: cover;
  height: 600px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    color: #fff;
    text-transform: uppercase;

    h1 {
      font-weight: 600;
    }
  }
}

.featured-item {
  height: 400px;
  width: 30%;
  display: block;

  .item-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    h4 {
      margin-right: 10px;
      font-size: 18px;
    }
  }

  .img {
    background-position: center center;
    background-size: cover;
    height: 100%;
  }

  .item-1 {
    background-image: url(../images/featured_1.jpeg);
  }
  .item-2 {
    background-image: url(../images/featured_2.jpeg);
  }
  .item-3 {
    background-image: url(../images/featured_3.jpeg);
  }
}

.cta-section {
  height: 60vh;
  background-image: url(../images/cta_img.jpeg);
  background-position: center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 50px;

  h2 {
    font-size: 35px;
  }
}

.split-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 30px;
  height: 100vh;

  .img-left {
    background-image: url(../images/bestsell.jpeg);
    background-position: center center;
    background-size: cover;
    height: 100%;
  }

  .img-right {
    background-image: url(../images/rugs.jpeg);
    background-position: center bottom;
    background-size: cover;
    height: 80%;
    margin-top: 40px;
  }
}
